.estiloImg {
	display: flex;
	text-align: center;
	margin: auto;
}

.titulo {
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.fondoCard {
	background-color: var(--color-fondo);
}

.subtitulo {
	text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.imgFondoSection{
	background-image: url(../../recursos/media/img/homerFondo.png);
	background-size: cover;
    background-repeat: no-repeat;
}

.imgComentarios {
    width: 120px;
    height: 108px;
}