*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo);
}
.parrafo11{
    font-size: 20px;
    margin-left: 27px;
    margin-bottom: 30px;

}
.parrafo12{
    display: flex;
    align-content: start;
    font-size: 20px;
    margin-bottom: 35px;
    
}
.parrafo13{
    display: flex;
    align-content: start;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 21px;
    
}
.parrafo14{
    display: flex;
    align-content: start;
    font-size: 20px;
    margin-bottom: 18px;
    margin-top: 10px;
    
    
}
.parrafo15{
    display: flex;
    align-content: start;
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 10px;
    
    
}
.parrafo2{
    text-shadow: 3px 3px 5px #949090;
   font-size: 23px;
   color: rgb(0, 0, 0);   
   font-weight:bolder; 
}
.titulo{
    text-shadow: 2px 2px 6px #000;
}

.container{
    height: 100vh;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 140px;
    margin-right: 140px;
}
.card{
    height: 500px;
    width: 450px;
    margin: 30px;
    transition: 300ms;
    background-color: var(--color-secundario);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba (0, 0, 0, 3);  
}
.persona{
    height: 350px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    background-color: var(--color-secundario);
    transition: 200ms;
    position: absolute;

}
.link {
    text-decoration: none;
}

.imagenPersona{
    height: 350px;
    width: 200px;
   
    background-size: cover;
    margin-top: 200px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}
.card-img-top{
    height: 250px;
    width: 260px;
    background-size: cover;
    margin-left: 15px;
    margin-bottom: -5px;
    margin-top: 10px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}
.card-img-top1{
    height: 260px;
    width: 230px;
    background-size: cover;
    margin-left: 20px;
    margin-bottom: -20px;
    margin-top: px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}
.card-img-top2{
    height: 250px;
    width: 230px;
    background-size: cover;
    margin-left: 20px;
    margin-bottom: -6px;
    margin-top: 12px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}
.card-img-top3{
    
    width: 220px;
    background-size: cover;
    margin-left: 32px;
    margin-bottom: 7px;
    margin-top: 53px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}
.card-img-top4{
    height: 230px;
    width: 230px;
    background-size: cover;
    margin-left: 20px;
    margin-bottom:-2px;
    margin-top: 30px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}
.card-img-top5{
    height: 280px;
    width: 230px;
    background-size: cover;
    margin-left: 20px;
    margin-bottom: -2px;
    margin-top: -19px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}
h1, h2, h4{
    text-decoration: underline;
}
.atributos{
    margin-top: -40px;
    margin-bottom: 35px;
}
.atributos1{
    margin-top: 24px;
}
.boton1{
    margin-top: 30px;
}
.card-text1{
    margin-top: 30px;
}
.card-text2{
    margin-top: 30px;
}
.modal-footer{
    display: flex;
    justify-content: center;
}
.card:hover .card-img-top{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    filter: drop-shadow(5px -4px 10px #000);
}
.card:hover .card-img-top1
{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    filter: drop-shadow(5px -4px 10px #000);
}
.card:hover .card-img-top2
{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    filter: drop-shadow(5px -4px 10px #000);
}
.card:hover .card-img-top3
{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    filter: drop-shadow(5px -4px 10px #000);
}
.card:hover .card-img-top4
{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    filter: drop-shadow(5px -4px 10px #000);
}
.card:hover .card-img-top5
{
    transform: translateY(-40px);
    transition: 300ms;
    filter: none;
    filter: drop-shadow(5px -4px 10px #000);
}
.btn{
    background-color:var(--color-primario);
}

.btn:hover{
    background-color: var(--color-fondo);
}
