body {
	background-color: var(--color-fondo);
}

.container {
	height: 100vh;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.tituloSobreNos {
    text-shadow: 7px 2px 4px #000;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.nombresIntegrantes{
    font-family: 'simpsonts-font';
	src: local('simpsonts-font'),
		url('./recursos/fuentes/Simpsonfont.otf') format('opentype');
        text-align: center;   
    filter: drop-shadow(0 0 0.5rem var(--color-primario));
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--color-primario);
}

.textoSobreNos{
    background-color: rgb(227, 62, 151,0.8);
}
.subtitulo-sN {
	color: var(--color-primario);
	font-family: var(--fuente-secundaria);
	font-size: var(--fuente-tamanio-parrafo-desktop);
	text-align: center;
}

.card{
    height: 525px;
    width: 18rem;
    margin: 30px;
    transition: 300ms;
    background-color: var(--color-secundario);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba (0, 0, 0, 3);  
}
.card-img-top {
	height: 270px;
	width: 230px;
	background-size: cover;
	margin-left: 25px;
	margin-bottom: -2px;
	margin-top: 10px;
	transition: 300ms;
	filter: drop-shadow(5px -4px 10px #000);
}
.card-img-top1 {
	height: 250px;
	width: 210px;
	background-size: cover;
	margin-left: 37px;
	margin-bottom: -20px;
	margin-top: 15px;
	transition: 300ms;
	filter: drop-shadow(5px -4px 10px #000);
}
.card-img-top2 {
	height: 250px;
	width: 230px;
	background-size: cover;
	margin-left: 35px;
	margin-bottom: -2px;
	margin-top: 30px;
	transition: 300ms;
	filter: drop-shadow(5px -4px 10px #000);
}
.card-img-top3 {
	height: 240px;
	width: 240px;
	background-size: cover;
	margin-left: 20px;
	margin-bottom: -10px;
	margin-top: 30px;
	transition: 300ms;
	filter: drop-shadow(5px -4px 10px #000);
}
.card-img-top4 {
	height: 250px;
	width: 230px;
	background-size: cover;
	margin-left: 20px;
	margin-bottom: -19px;
	margin-top: 37px;
	transition: 300ms;
	filter: drop-shadow(5px -4px 10px #000);
}
.card-img-top5{
    height: 285px;
    width: 225px;
    background-size: cover;
    margin-left: 20px;
    margin-bottom: -13px;
    margin-top: -15px;
    transition: 300ms;
    filter: drop-shadow(5px -4px 10px #000);
}
.textoCardS{
	color: var(--color-primario);
	font-family: var(--fuente-secundaria);
	font-size: 1.2rem;
	line-height: 2rem;
	text-align: center;
	
}
.descripcion{
	text-align: justify;
	font-size: var(--fuente-tamanio-parrafo-desktop);
    font-family: var(--fuente-secundaria);
    color: var(--color-secundario);
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    /*text-shadow: 0.5px 0 0.5px  black ;*/
	
}
.modal-title{
	font-family: var(--fuente-secundaria);
    text-align: center;/*VEREFICAR POR QUE NO ME TOMA EL ALING CENTER*/
    text-shadow: 0.5px 0 0.5px var(--color-secundario) ;
}

.modal-content{
	background-color: rgb(254, 230, 34, 0.9)
}
.modal-header{
	border-bottom: none;
}


.card:hover .card-img-top, 
.card:hover .card-img-top1,
.card:hover .card-img-top2,
.card:hover .card-img-top3,
.card:hover .card-img-top4,
.card:hover .card-img-top5{
	transform: translateY(-60px);
	transition: 300ms;
	filter: none;
	filter: drop-shadow(5px -4px 10px #000);
}


.btn{
    background-color:var(--color-primario);
    text-align: center;
	font-weight: 600;
}
.btn--nosotros:hover {
	background-color: var(--color-fondo);
}
