body {
	background: var(--color-fondo);
}

.titulo {
	text-shadow: 2px 2px 2px #000000;
}

.usuarios-img-contenedor {
	position: relative;
	display: flex;
	align-items: start;
	justify-content: center;
	width: 600px;
	margin: 0 auto;
	height: 20rem;
}

.usuarios-img-contenedor img {
	display: inline-block;
	filter: drop-shadow(-5px -2px 2px rgba(0, 0, 0, 0.6))
		drop-shadow(-5px 5px 2px rgba(0, 0, 0, 0.6));
}

.homero-cuerpo {
	max-width: 500px;
	z-index: 300;
}
.homero-escoba {
	max-width: 400px;
	position: absolute;
	top: 115px;
	left: 20px;
	transform: rotate(-20deg);
	animation: moverEscoba 2s alternate infinite;
}

@keyframes moverEscoba {
	0% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(-23deg);
	}
}

.contenedor-tabla {
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}
tr .usuarios-tabla-titulo {
	color: var(--color-secundario);
}

.usuarios-filtrar-label {
	background-color: #fff;
	color: var(--color-secundario);
}

.usuarios-filtro-error-text {
	text-shadow: 2px 2px 2px #000000;
}
.usuarios-filtro-error-img {
	max-width: 200px;
}

/*footer*/
footer {
	background-image: url(../../../recursos/media/img/backgraundDonas.png);
}
.footerTitulo {
	color: rgb(255, 208, 56);
}
.footerRedes {
	color: rgb(255, 208, 56);
	background-color: rgb(5, 1, 2, 0.5);
}
.footerLetra {
	color: rgb(255, 208, 56);
	text-decoration: none;
	transition: transform 0.3s ease;
}

.buttonFooter {
	background-color: rgb(5, 1, 2, 0.5);
	color: rgb(255, 208, 56);
}
#letraButtonF {
	text-decoration: none;
	color: rgb(255, 208, 56);
}

.footerLetra:hover {
	transform: scale(1.2);
}
.buttonFooter:hover {
	transform: scale(1.1);
}
