  body {
    background-image: url(/recursos/media/img/homerLogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    overflow: hidden;
    margin: 0 auto;
    padding: 20px;
  }


 .img1{
   display: flex;
   width: 10px;
   height: 10px;
 }
 .btn-dark{
  color: black;
  width: 100%;
  
 }
 .titulo{
  text-shadow: 2px 2px 4px #141313;
  display: flex;
  justify-content: center;

 }
 .otc{
  font-weight: bolder;
 }
 nav{
   background-color: transparent;
  }
  nav a p{
    color: black;
  }
  main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card11 {
    border-radius: 5%;
  }
  .iconoLogin{
    display: flex;
    justify-content: center;
  }
  .pLogin{
     margin-bottom: 50px;
     margin-top: -30px;
     color:black
  }
  input:required:valid {
  border: 2px solid lightgreen;
}
input:invalid {
  border: 2px solid lightcoral;
}
input:invalid > button {
  pointer-events: none;
  background-color: #ccc;
  cursor: not-allowed;
}
.iconoLogin{
  background-color: transparent;
}
@media screen and (max-width: 600px) {
  .card11 {
    width: 90%;
  }

  }
@media screen and (max-width: 800px){
  body {
    background-image: url('/recursos/media/img/imagenREsponsive.jpg');
    background-size: cover;
    background-position: center;
  }
  
} 
