body {
    /* background-color: var(--color-fondo);*/
    overflow: auto;
}

.fondoNavColor {
    background-color: var(--fuente-color-primario);
    border: 2px solid var(--color-primario);
}

/* .container-fluid {
    background-color: #FFFF;
    border: 4px solid rgb(117, 6, 24);
    box-shadow: 10px 5px 5px black;
} */

.logo-nav {
    height: 60px;
    width: 60px;
}

.nav-link {
    font-family: var(--fuente-secundaria);
    font-size: var(--fuente-tamanio-subtitulo);
    color: rgb(240, 25, 26);
    font-weight: bold;
    text-shadow: 2px 2px var(--color-primario);
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; */
}

.nav-link:hover {
    color: var(--color-primario);
    text-shadow: 2px 2px black;
}

#input-buscar {
    border: 1px solid rgb(255, 25, 26);
}

#btn-buscar {
    background-color:rgb(255, 25, 26);
    /* border: 2px solid var(--color-primario); */
}

#btn-Inicio {
    /* background-color: rgb(41, 108, 194); 
    border-color: var(--color-primario);
    font-size: var(--fuente-tamanio-subtitulo);*/
    border: 2px solid var(--color-primario);
    font-family: var(--fuente-secundaria);
    font-weight: bold;
}

#btn-registro {
    background-color: var(--color-secundario);
    /* border-color: var(--color-primario); */
    border: 2px solid var(--color-primario);
    font-family: var(--fuente-secundaria);
    font-weight: bold;
}

.img-login {
    height: 50px;
    width: 50px;
}

/* #btn-donut {
    border: 3px solid var(--color-primario);
} */

#img-donut {
    height: 40px;
    width: 40px;
}

/* clases del nav */

.setting-Adm {
    height: 1px;
    width: 1px;
    color: black;
    font-style: bold;

}

#btn-Enviar {
    background-color: rgb(157, 80, 112);
    border-color: var(--color-primario);
    border: 2px solid var(--color-primario);
}

.titulo {
    /* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; */
    text-shadow: 2px 2px black;
}

.parrafo {
    color: var(--color-primario);
    font-family: var(--fuente-secundaria);
    font-size: 1.4rem;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    text-shadow: 2px 2px black;
}

.bi-search {
    color: black;

}

#parte-col1 {
    background-color: var(--color-fondo);
    border: 4px solid rgb(134, 229, 142);
}

#parte-col2 {
    background-color: rgb(157, 80, 112);
    border: 4px solid rgb(134, 229, 142);
}

/* clases de la sección contacto */