body {
	background-color: var(--color-fondo);
}

.logo-nav{
    height: 60px;
    width: 60px;
}
.container-fluid{
    background-color: var(--color-secundario);
}

.nav-link{
    color: var(--color-primario);
    font-weight: bold;
}
.nav-link :hover{
    color: var(--color-fondo)
}

.setting-Adm{
    height: 40px;
    width: 40px;
    color: black;
    font-style: bold;
    
}
.icon-login{
    height: 10px;
    width: 3rem;
}

