body {
	background-color: var(--color-fondo);
}

.logo-nav{
    height: 60px;
    width: 60px;
}
.container-fluid{
    background-color: var(--color-secundario);
}

.nav-link{
    color: var(--color-primario);
    font-weight: bold;
}
.nav-link :hover{
    color: var(--color-fondo)
}